inline std::string GetFilePath(RelationName rn, DataSize ds) {
    return datapath[ds] + filename[rn];
}


enum RelationName
{
    {% for name in relation_names -%}
       {{ name }},
    {% endfor -%}
    RTOTAL
};

size_t NumRows[RTOTAL][DTOTAL] = {
    {% for data_size in data_sizes -%}
    { {%- for size in data_size -%}{{ size }}{% if not loop.last %},{% endif %}{% endfor %}} {% if not loop.last %},{% endif %}
    {% endfor -%}
};

void {{ function_name }}(DataSize ds, bool printResult){
    {% for line in function_lines -%}
    {{ line }}
    {% endfor %}
}