<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/treant-js/1.0/Treant.css"
          integrity="sha512-ySoXPqkgXC7K7IS5vOdi47uEpct2yJ3MkYVVVHiM7FOmdDnBUVSmB/D1ps2Pf6jBJnBMyh1EPJLpWh2uCzOLdg=="
          crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.3.0/raphael.min.js"
            integrity="sha512-tBzZQxySO5q5lqwLWfu8Q+o4VkTcRGOeQGVQ0ueJga4A1RKuzmAu5HXDOXLEjpbKyV7ow9ympVoa6wZLEzRzDg=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/treant-js/1.0/Treant.min.js"
            integrity="sha512-ADpWKsaOuAegRSoUObE1si2VF6HQJyQR3Zy44l7s6YsGA6BnPIrIwN9uKJ0rsMhtDAMFqnGZhQXMJcsWSp40pA=="
            crossorigin="anonymous"></script>
    <title>SECYAN Codegen</title>
</head>
<style>
    #tree-simple {
        background-color: transparent;
    }
</style>
<script>
    function onClick() {


        let table = document.querySelector("#table_structure").value
        let sql = document.querySelector("#sql_statement").value

        if (table.length === 0) {
            window.alert("Table shall not be empty")
            return;
        }

        if (sql.length === 0) {
            window.alert("SQL shall not be empty")
            return;
        }

        axios.post("{{ url_for('generate_code') }}", {
            table: table,
            sql: sql
        }).then(res => {
            let toastEl = document.querySelector('.toast')
            let toast = new bootstrap.Toast(toastEl)
            let display = document.querySelector("#code_display")
            display.textContent = res.data['code'];
            let graphData = res.data['join_graph'];
            toast.show();
            renderGraph(graphData);
            hljs.highlightAll();

        }).catch(e => {
            console.log(e)
            if (`${e}`.includes("500")) {
                window.alert("Your input is invalid")
            } else {
                window.alert("error!" + e)
            }

        })
    }
</script>
<body>
<div class="row">
    <label style="padding-left: 20px">Version: {{ version }}</label>
    <div class="col-12 col-md-6 p-4 ">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                        role="tab" aria-controls="home" aria-selected="true">SQL Statement
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#table" type="button"
                        role="tab" aria-controls="profile" aria-selected="false">JSON Table Structure
                </button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="form-group purple-border mt-2">
                    <textarea class="form-control rounded-0" id="sql_statement" rows="15"></textarea>
                </div>
            </div>
            <div class="tab-pane fade" id="table" role="tabpanel" aria-labelledby="profile-tab">
                <div class="form-group purple-border mt-2">
                    <label for="table_structure"><a
                            href="https://github.com/sirily11/SECYAN-GEN/blob/master/examples/table_config.json"
                            target="_blank">Example JSON file</a></label>
                    <textarea class="form-control rounded-0" id="table_structure" rows="15"></textarea>
                </div>
            </div>
        </div>
        <label>Join Tree</label>
        <div id="tree-simple" style="height: 300px"></div>
        <button type="button" class="btn btn-primary m-2" onclick="onClick()">Submit</button>
    </div>

    <div class="col-12 col-md-6 p-4">
        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">Results</h5>
                <pre class="card-text" style="max-height: 85vh; overflow-y: scroll"><code id="code_display"
                                                                                          class="cpp"></code></pre>
            </div>
        </div>
    </div>
    <div class="toast align-items-center text-white bg-primary border-0" role="alert" aria-live="assertive"
         aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                Code Updated!
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
        </div>
    </div>
</div>
<script>

    function renderGraph(graphData) {
        const simple_chart_config = {
            chart: {
                container: "#tree-simple",
                rootOrientation: "WEST"
            },

            nodeStructure: graphData
        };

        let my_chart = new Treant(simple_chart_config);
    }
</script>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
-->
</body>
</html>